.about {
  background: $color-cadet-blue;
  color: $color-bright-grey;
}

.about__wrapper {

}

.about__title {
  @extend %title-100;

  max-width: 124rem;
  text-align: center;

  @include media('<phone') {
    max-width: 67.7rem;
    margin: auto;
  }
}
